<div id="main-menu">
  <div class="main-menu-container">
    <div class="menu-content" style="color: #ffffff">
      <accordion>
        <accordion-group heading="{{'home' | translate}}"
                         [isOpen]='false' [isDisabled]="true" (click)="navigate('dashboard/home')">
        </accordion-group>
        <accordion-group heading="{{'dispo' | translate}}"
                         [isOpen]='false'>

          <a [routerLink]="['tour']" (click)="navigate('dashboard/tour')"><i class="fa fa-bus"></i> <ng-container>{{'tour' | translate}}</ng-container></a>
        </accordion-group>
        <accordion-group heading="{{'management' | translate}}"
                         [isOpen]='false'>
          <a [routerLink]="['user']" (click)="navigate('dashboard/user')"><i class="fa fa-wheelchair-alt"></i> <ng-container >{{'users' | translate}}</ng-container></a><br>
        </accordion-group>
        <accordion-group heading="{{'logout' | translate}}"
                         [isOpen]='false' [isDisabled]="true" (click)="navigate('logout')">
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
