.row-stoplist {
  font-size: 14px;
  padding: 5px;
}

.row-stoplist > div {
  padding: 0;
  height: 20px;
}

.row-deliverylist,
.row-tourlist {
  font-size: 14px;
  padding: 5px;
  border-bottom: 2px solid #D5D5D5;
  background: linear-gradient(to bottom, white, #f1f1f1);
  border-radius: 10px;
}

.row-deliverylist > div,
.row-tourlist > div {
  padding: 0;
  height: 15px;
  background: transparent;
}
