<form [formGroup]="touroptimizingForm" style="padding-top: 10px" class="mbDashboardContent">
  <div class="ui-fluid">
    <div class="ui-g" style="min-height: 465px;">
      <div class="ui-g-12 ui-lg-4 shadow" style="padding:0; width: 32%; margin-left: 10px;">
        <div class="ui-g" style="font-weight: bold;font-size:16px;">
          <div class="ui-g-12 ui-lg-12">{{'stoplist' | translate}}</div>
        </div>
        <div class="ui-g" style="font-weight: bold;font-size:13px; padding-left: 3px;">
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-percent" style="color: #184b7d;"></i> (3)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-map-marker" style="color: #184b7d;"></i> (95)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;S (456)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;P (1296)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa fa-balance-scale" style="color: #184b7d;"></i> (5076)</div>
        </div>
        <hr/>
            <p-dataScroller [value]="shipments" [rows]="100" [inline]="true" scrollHeight="100%"
                            [style]="{'height': '620px', 'padding': '0 3px 3px 3px'}">

              <ng-template let-shipments pTemplate="body">
                <div class="ui-g row-stoplist">
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-hourglass-o" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-2">{{shipments.deliveryTime}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-address-card-o" style="color: #184b7d;"></i></div>
                  <!--<div class="ui-g-12 ui-lg-1"><i class="fa-address-card-o" style="color: #184b7d;"></i></div>-->
                  <div class="ui-g-12 ui-lg-2">{{shipments.deliveryAddress.zipCode}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-balance-scale" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-2">{{shipments.parcels[0]?.realWeight}}</div>
                  <div class="ui-g-12 ui-lg-1">
                      <span *ngIf="shipments.optimized; else notOptimized">
                        <i class="fa fa-sync" style="color: #00a200;"></i>
                      </span>
                      <ng-template #notOptimized>
                        <i class="fa fa-sync" style="color: #ff0000;"></i>
                      </ng-template>
                  </div>
                  <div class="ui-g-12 ui-lg-2">
                    <p-checkbox name="optimize" value="optimize"></p-checkbox>
                  </div>
                </div>
              </ng-template>
            </p-dataScroller>

        <div class="ui-g-12 ui-lg-4">
          <p-toggleButton onLabel="{{'all' | translate}}" offLabel="{{'none' | translate}}"
                                onIcon="fa-check-square" offIcon="fa-square-o"></p-toggleButton>
        </div>
        <div class="ui-inputgroup ui-g-12 ui-lg-4">
          <span class="ui-inputgroup-addon"><i class="fa fa-truck"></i></span>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <button pButton label="{{'optimize' | translate}}" type="button" icon="fa fa-sync" iconPos="left"></button>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 shadow" style="padding:0; width: 32%; margin-left: 10px;">
        <div class="ui-g" style="font-weight: bold;font-size:16px; padding-left: 3px;">
          <div class="ui-g-12 ui-lg-12">{{'deliverylists' | translate}}</div>
        </div>
        <div class="ui-g" style="font-weight: bold;font-size:13px; padding-left: 3px;">
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-percent" style="color: #184b7d;"></i> (8)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-align-justify" style="color: #184b7d;"></i> (12)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;S (218)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;P (327)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa fa-balance-scale" style="color: #184b7d;"></i> (1690)</div>
        </div>
        <hr/>
            <p-dataScroller [value]="tour" [rows]="100" [inline]="true" scrollHeight="100%"
                            [style]="{'height': '620px', 'padding': '0 3px 3px 3px'}">
              <ng-template let-tour pTemplate="body">
                <div class="ui-g row-deliverylist">
                  <div class="ui-g-12 ui-lg-1">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-3">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;S</div>
                  <div class="ui-g-12 ui-lg-1">{{tour.shipments}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;P</div>
                  <div class="ui-g-12 ui-lg-1">{{tour.packages}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-balance-scale" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-3">{{tour.weight}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-align-justify" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-3" style="font-weight: bold">{{tour.deliverylistNumber}}</div>
                  <div class="ui-g-12 ui-lg-6">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1">
                    <span *ngIf="tour.optimized; else notOptimized">
                      <i class="fa fa-sync" style="color: #00a200;"></i>
                    </span>
                    <ng-template #notOptimized>
                      <i class="fa fa-sync" style="color: #ff0000;"></i>
                    </ng-template>
                  </div>
                  <div class="ui-g-12 ui-lg-1">
                    <p-checkbox name="optimize" value="optimize"></p-checkbox>
                  </div>
                  <div class="ui-g-12 ui-lg-4">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-clock" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-1">{{tour.time}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-road" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-5">{{tour.distance}}</div>
                </div>
              </ng-template>
            </p-dataScroller>
        <div class="ui-g-12 ui-lg-4">
          <p-toggleButton onLabel="{{'all' | translate}}" offLabel="{{'none' | translate}}"
                          onIcon="fa-check-square" offIcon="fa-square-o"></p-toggleButton>
        </div>

        <div class="ui-g-12 ui-lg-4">
          <button pButton label="{{'optimize' | translate}}" type="button" icon="fa fa-sync" iconPos="left"></button>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <button pButton label="{{'print' | translate}}" type="button" icon="fa fa-print" iconPos="left"></button>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 shadow" style="padding:0; width: 32%; margin-left: 10px;">
        <div class="ui-g" style="font-weight: bold;font-size:16px; padding-left: 3px;">
          <div class="ui-g-12 ui-lg-12">{{'tourlists' | translate}}</div>
        </div>
        <div class="ui-g" style="font-weight: bold;font-size:13px; padding-left: 3px;">
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-percent" style="color: #184b7d;"></i> (89)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa fa-truck" style="color: #184b7d;"></i> (12)</div>
          <div class="ui-g-12 ui-lg-2"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;S (456)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;P (1296)</div>
          <div class="ui-g-12 ui-lg-3"><i class="fa fa-balance-scale" style="color: #184b7d;"></i> (5076)</div>
        </div>
        <hr/>
            <p-dataScroller [value]="tour" [rows]="100" [inline]="true" scrollHeight="100%"
                                  [style]="{'height': '620px', 'padding': '0 3px 3px 3px'}">
              <ng-template let-tour pTemplate="body">
                <div class="ui-g row-tourlist">
                  <div class="ui-g-12 ui-lg-1">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-3">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;S</div>
                  <div class="ui-g-12 ui-lg-1">{{tour.tourShipments}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa-sum" style="color: #184b7d;"></i>&nbsp;P</div>
                  <div class="ui-g-12 ui-lg-1">{{tour.tourPackages}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-balance-scale" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-3">{{tour.tourWeight}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-truck" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-3" style="font-weight: bold">{{tour.tourNo}}</div>
                  <div class="ui-g-12 ui-lg-6">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1">
                        <span *ngIf="tour.tourOptimized; else tourNotOptimized">
                          <i class="fa fa-sync" style="color: #00a200;"></i>
                        </span>
                    <ng-template #tourNotOptimized>
                      <i class="fa fa-sync" style="color: #ff0000;"></i>
                    </ng-template>
                  </div>
                  <div class="ui-g-12 ui-lg-1">
                    <p-checkbox name="optimize" value="optimize"></p-checkbox>
                  </div>
                  <div class="ui-g-12 ui-lg-4">&nbsp;</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-clock" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-1">{{tour.tourTime}}</div>
                  <div class="ui-g-12 ui-lg-1"><i class="fa fa-road" style="color: #184b7d;"></i></div>
                  <div class="ui-g-12 ui-lg-5">{{tour.tourDistance}}</div>
                </div>
              </ng-template>
            </p-dataScroller>
            <!--<div class="ui-g-12 ui-lg-2"><i class="fa fa-percent" style="color: #184b7d;"></i> 87</div>-->
        <div class="ui-g-12 ui-lg-4">
          <p-toggleButton onLabel="{{'all' | translate}}" offLabel="{{'none' | translate}}"
                          onIcon="fa-check-square" offIcon="fa-square-o"></p-toggleButton>
        </div>

        <div class="ui-g-12 ui-lg-4">
          <button pButton label="{{'optimize' | translate}}" type="button" icon="fa fa-sync" iconPos="left"></button>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <button pButton label="{{'print' | translate}}" type="button" icon="fa fa-print" iconPos="left"></button>
        </div>
      </div>
    </div>
  </div>
</form>
