<app-msg-box [msgs]="msgs$ | async" [sticky]="sticky$ | async"></app-msg-box>

<form [formGroup]="pwdForm" (ngSubmit)="changePwd()">
  <div class="ui-fluid">
    <div class="ui-g">

      <div class="ui-g-12">
        <div>{{'oldPwd' | translate}}:</div>
        <div><input pInputText formControlName="oldPwd"></div>
        <div *ngIf="pwdForm.controls['oldPwd'].hasError('maxlength')"
             class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMaxLength' | translate}}.
        </div>
        <div *ngIf="pwdForm.controls['oldPwd'].hasError('minlength')"
             class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMinLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12">
        <div>{{'newPwd' | translate}}:</div>
        <div><input pInputText formControlName="newPwd"></div>
        <div *ngIf="pwdForm.controls['newPwd'].hasError('maxlength')"
             class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMaxLength' | translate}}.
        </div>
        <div *ngIf="pwdForm.controls['newPwd'].hasError('minlength')"
             class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMinLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12">
        <div>{{'newPwdRepeat' | translate}}:</div>
        <div><input pInputText formControlName="newPwdRepeat"></div>
        <div *ngIf="pwdMismatch"
             class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMismatch' | translate}}.
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" (click)="changePwd()" [disabled]="!pwdForm.valid" label="{{'save' | translate}}"
                style="width:100px"></button>
      </div>

    </div>
  </div>
</form>
