<form [formGroup]="importscanlistForm" style="padding-top: 10px;">
  <div class="ui-fluid">
    <div class="ui-g" style="margin-bottom: 30px;">
      <div class="ui-g-12 ui-lg-4 ui-g-nopad">
        <input #scanfield formControlName="scanfield" class="bgYellow" style="font-size: 20px; max-width: 150px">
      </div>
      <div class="ui-g-12 ui-lg-8 ui-g-nopad">
        <p-dropdown [options]="scanOptions" placeholder="{{ 'sortorder' | translate }}"></p-dropdown>
      </div>
    </div>
    <style>
      .row-importscan {
        font-size:14px;padding:5px;border-bottom:1px solid #D5D5D5;
      }
      .row-importscan > div {
        padding: 0; height:30px;
      }
    </style>
    <p-dataScroller [value]="shipments" [rows]="10" [inline]="true" scrollHeight="calc(100vh - 296px)"
                    [style]="{'min-height': '465px', 'height': 'calc(100vh - 296px)'}">
      <p-header>
        {{ 'importlist' | translate }}
      </p-header>

      <ng-template let-shipments pTemplate="body">
        <div class="ui-g row-importscan">
            <div class="ui-g-12 ui-md-2">{{shipments.senderAddress.line1}}</div>
            <div class="ui-g-12 ui-md-1">===>></div>
            <div class="ui-g-12 ui-md-2">{{shipments.deliveryAddress.line1}}</div>
            <div class="ui-g-12 ui-md-1">{{'from' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.senderStation}}</div>
            <div class="ui-g-12 ui-md-1">{{'to' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryStation}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryAddress.zipCode}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryAddress.city}}</div>
            <div class="ui-g-12 ui-md-1">
              <i class="fas fa-sync iconBlue"></i>
            </div>

            <div class="ui-g-12 ui-md-2">{{shipments.shipmentDate | date:dateFormat}}</div>
            <div class="ui-g-12 ui-md-1">===>></div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryDate}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryTime}}</div>
            <div class="ui-g-12 ui-md-1">{{'parcelno' | translate}}:</div>
            <div class="ui-g-12 ui-md-2">{{shipments.parcels[0]?.parcelNo}} ({{shipments.parcels[0]?.checksum}}) </div>
            <div class="ui-g-12 ui-md-2">{{'typeOfPackaging' | translate}}:</div>
            <div class="ui-g-12 ui-md-2">{{shipments.parcels[0]?.typeOfPackaging}}</div>

            <div class="ui-g-12 ui-md-1">{{'packs' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.parcels.length}}</div>
            <div class="ui-g-12 ui-md-1">{{'real-Weight' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.parcels[0]?.realWeight}}</div>
            <div class="ui-g-12 ui-md-1">{{'vol-Weight' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.parcels[0]?.volWeight}}</div>
            <div class="ui-g-12 ui-md-1">{{'length' | translate}}:</div>
           <!-- <div class="ui-g-12 ui-md-2">
              <img src="assets/images/ic_depth.png" width="18px" height="18px" alt="length">
              <span>{{shipments.parcels[0]?.length}}</span>
            </div>-->
            <div class="ui-g-12 ui-md-1">{{shipments.parcels[0]?.length}}</div>
            <div class="ui-g-12 ui-md-1">{{'width' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.parcels[0]?.width}}</div>
            <div class="ui-g-12 ui-md-1">{{'height' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.parcels[0]?.height}}</div>

        </div>
      </ng-template>
    </p-dataScroller>

    <div class="ui-g" style="padding-top: 50px;">
      <div class="ui-g-12 ui-lg-12">
        <hr/>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'newShipment' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'quickscan' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscanquick' ] )"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'controlscan' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscancheck' ] )"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'listprinting' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'refresh' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <p-checkbox name="printlabel" value="printlabel" label="{{'printlabel' | translate}}"></p-checkbox>
        </div>
      </div>
    </div>

  </div>
</form>
