<form [formGroup]="importscanlistForm" style="padding-top: 10px;">
  <div class="ui-fluid">
    <div class="ui-g" style="margin-bottom: 30px;">
      <div class="ui-g-12 ui-lg-4 ui-g-nopad">
        <input #scanfield formControlName="scanfield"
               style="height: 26px; font-size: 20px;
                          background-color: #FFFFC6; border:1px solid darkgrey">
      </div>
      <div class="ui-g-12 ui-lg-8 ui-g-nopad">
        <p-dropdown [options]="scanOptions" placeholder="{{ 'sortorder' | translate }}"></p-dropdown>
      </div>
    </div>
    <style>
      .row-importscan {
        font-size:14px;padding:5px;border-bottom:1px solid #D5D5D5;
      }
      .row-importscan > div {
        padding: 0; height:30px;
      }
    </style>
    <p-dataScroller [value]="shipments" [rows]="10" [inline]="true" scrollHeight="calc(100vh - 296px)"
                    [style]="{'min-height': '465px', 'height': 'calc(100vh - 296px)'}">
      <p-header>
        {{ 'importlist' | translate }}
      </p-header>

      <ng-template let-shipments pTemplate="body">
        <div class="ui-g row-importscan">
            <div class="ui-g-12 ui-md-2">{{shipments.senderline1}}</div>
            <div class="ui-g-12 ui-md-1">===>></div>
            <div class="ui-g-12 ui-md-2">{{shipments.deliveryline1}}</div>
            <div class="ui-g-12 ui-md-1">{{'from' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.senderstation}}</div>
            <div class="ui-g-12 ui-md-1">{{'to' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliverystation}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliveryzip}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliverycity}}</div>
            <div class="ui-g-12 ui-md-1">
              <i class="fa fa-refresh" style="color: #184b7d;"></i>
            </div>

            <div class="ui-g-12 ui-md-2">{{shipments.senddate}}</div>
            <div class="ui-g-12 ui-md-1">===>></div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliverydate}}</div>
            <div class="ui-g-12 ui-md-1">{{shipments.deliverytime}}</div>
            <div class="ui-g-12 ui-md-1">{{'parcelno' | translate}}:</div>
            <div class="ui-g-12 ui-md-2">{{shipments.parcelno}}</div>
            <div class="ui-g-12 ui-md-2">{{'typeOfPackaging' | translate}}:</div>
            <div class="ui-g-12 ui-md-2">{{shipments.typeOfPackaging}}</div>

            <div class="ui-g-12 ui-md-1">{{'packs' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.noOfPacks}}</div>
            <div class="ui-g-12 ui-md-1">{{'real-Weight' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.realWeight}}</div>
            <div class="ui-g-12 ui-md-1">{{'vol-Weight' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.volWeight}}</div>
            <div class="ui-g-12 ui-md-1">{{'length' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.length}}</div>
            <div class="ui-g-12 ui-md-1">{{'width' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.width}}</div>
            <div class="ui-g-12 ui-md-1">{{'height' | translate}}:</div>
            <div class="ui-g-12 ui-md-1">{{shipments.height}}</div>

        </div>
      </ng-template>
    </p-dataScroller>

    <div class="ui-g" style="padding-top: 50px;">
      <div class="ui-g-12 ui-lg-12 no-pad">
        <hr/>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'newShipment' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'quickscan' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscanquick' ] )"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'controlscan' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'listprinting' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'refresh' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <p-checkbox name="printlabel" value="printlabel" label="{{'printlabel' | translate}}"></p-checkbox>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
