<form [formGroup]="importscanlistForm" style="padding-top: 10px;">
  <div class="ui-fluid">
    <div class="ui-g" style="margin-bottom: 30px;">
      <div class="ui-g-12 ui-lg-4 ui-g-nopad">
        <input #scanfield formControlName="scanfield"
               style="height: 26px; font-size: 20px;
                          background-color: #FFFFC6; border:1px solid darkgrey">
      </div>
      <div class="ui-g-12 ui-lg-8 ui-g-nopad">
        <p-dropdown [options]="scanOptions" placeholder="{{ 'sortorder' | translate }}"></p-dropdown>
      </div>
    </div>

    <p-dataScroller [value]="packages" [rows]="10" [inline]="true"
                    [style]="{'min-height': '465px', 'height': 'calc(100vh - 296px)'}">
      <p-header>
        {{ 'importlist' | translate }}
      </p-header>
      <!--<ng-template let-shipment pTemplate="item" rows="10">-->
      <ng-template let-package pTemplate="body">
        <div class="ui-g"
             style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
          <div class="ui-g-12 ui-lg-6">
            parcelNo: {{package.parcelNo}}
            <br>
            orderId: {{package.orderId}}
            <br>
            parcelPosition: {{package.parcelPosition}}
            <br>
            loadinglistNo: {{package.loadinglistNo}}
            <br>
            typeOfPackaging: {{package.typeOfPackaging}}
            <br>
            realWeight: {{package.realWeight}}
            <br>
            dateOfStationOut: {{package.dateOfStationOut}}
            <br>
            creference: {{package.creference}}
          </div>
          <div class="ui-g-12 ui-lg-6">
            <div class="ui-g-12 ui-lg-2">address:</div>
            <div class="ui-g-12 ui-lg-10">
              zip: {{package.zip}}
              <br>
              city: {{package.city}}
              <br>
              devliveryStation: {{package.devliveryStation}}
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataScroller>

    <div class="ui-g" style="padding-top: 50px;">
      <div class="ui-g-12 ui-lg-12 no-pad">
        <hr/>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'newShipment' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'quickscan' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscanquick' ] )"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'controlscan' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'listprinting' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <button pButton type="button" label="{{'refresh' | translate}}"></button>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          <div style="padding-left: 10px; width: 98%;">
            <p-checkbox name="printlabel" value="printlabel" label="{{'printlabel' | translate}}"></p-checkbox>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
