<app-msg-box [msgs]="msgs$ | async" [sticky]="sticky$ | async"></app-msg-box>

<div class="ui-fluid mbDashboardContent" style="padding-top: 10px">
  <p-tabView>
    <p-tabPanel header="{{'inboundscanHeader' | translate}}">
      <div class="bgTabContent ui-g">
        <div class="ui-g-12 ui-lg-6" style="padding-top: 20px;">
          <div class="ui-g-12 ui-g-nopad">
            <input pInputText class="bgYellow" style="font-size: 60px; margin-bottom:5px; height: 100%; width: 28rem;">
          </div>
          <div class="ui-g-12 ui-g-nopad" style="font-size: 60px; padding-left: 0.5rem;">
            123456789012
          </div>
        </div>
        <div class="ui-g-12 ui-lg-6">
          <p-fieldset legend="{{'inboundscanTourLegend' | translate}}">
            <div class="ui-g-12 ui-md-7" style="font-size: 80px; font-weight: bold; padding-left: 15px;">
              98765
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-g-12 ui-g-nopad">
                <p-toggleButton onLabel="{{'tourDisplayFilter1' | translate}}"
                                offLabel="{{'tourDisplayFilter1' | translate}}"
                                onIcon="far fa-check-square" offIcon="far fa-square"
                                [(ngModel)]="tourfilterBaseData"
                                (onChange)="changeTourFilter($event.checked, 'baseData')"></p-toggleButton>
              </div>
              <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px;">
                <p-toggleButton onLabel="{{'tourDisplayFilter2' | translate}}"
                                offLabel="{{'tourDisplayFilter2' | translate}}"
                                onIcon="far fa-check-square" offIcon="far fa-square"
                                [(ngModel)]="tourfilterDispo"
                                (onChange)="changeTourFilter($event.checked, 'dispo')"></p-toggleButton>
              </div>
              <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px;">
                <p-toggleButton onLabel="{{'tourDisplayFilter3' | translate}}"
                                offLabel="{{'tourDisplayFilter3' | translate}}"
                                onIcon="far fa-check-square" offIcon="far fa-square"
                                [(ngModel)]="tourfilterOptimization"
                                (onChange)="changeTourFilter($event.checked, 'optimization')"></p-toggleButton>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="{{'myWorkspaceTabHeader' | translate}}">
    </p-tabPanel>
    <p-tabPanel header="{{'locationTabHeader' | translate}}">
    </p-tabPanel>
    <p-tabPanel header="{{'inboundTabHeader' | translate}}">
    </p-tabPanel>
    <div class="bgTabContent" style="margin-left: 4px; padding-top: 10px; padding-bottom: 10px;">
      <p-table [value]="packs" [resizableColumns]="true" [responsive]="true" [paginator]="true" [rows]="15"
               [totalRecords]="packs.length" [loading]="packsLoading$ | async" [loadingIcon]="'fa-spinner'">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'inboundStatus' | translate}}</th>
            <th [pSortableColumn]="'packNo'" style="width:115px;">
              {{'inboundPackNo' | translate}}
              <p-sortIcon [field]="'packNo'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'tour'" pResizableColumn>
              {{'inboundTour' | translate}}
              <p-sortIcon [field]="'tour'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'zip'" pResizableColumn>
              {{'inboundZip' | translate}}
              <p-sortIcon [field]="'zip'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'weight'" pResizableColumn>
              {{'inboundWeight' | translate}}
              <p-sortIcon [field]="'weight'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'dimensions'" pResizableColumn>
              {{'inboundDimensions' | translate}}
              <p-sortIcon [field]="'dimensions'"></p-sortIcon>
            </th>
            <th style="width: 200px;"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pack>
          <tr>
            <td style="font-weight: bold;" class="{{pack.status === 'nok' ? 'colorRed' : 'colorGreen'}}">
              {{pack.status}}
            </td>
            <td style="width:115px;">{{pack.packNo}}</td>
            <td>{{pack.tour}}</td>
            <td>{{pack.zip}}</td>
            <td>{{pack.weight}}</td>
            <td>{{pack.dimensions}}</td>
            <td>
              <i class="fas fa-search" (click)="packDetails.show($event)"
                 style="font-size: 20px; margin-right: 1.5rem;"></i>
              <i class="fas fa-print" style="font-size: 20px; margin-right: 1.5rem;"></i>
              <i class="fas fa-cube" style="font-size: 20px; margin-right: 1.5rem;"></i>
              <i class="fas fa-balance-scale" (click)="showWeightCorrections()" style="font-size: 20px;"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabView>
</div>

<p-overlayPanel #packDetails [showCloseIcon]="true" [dismissable]="true">
  <p-tabView>
    <p-tabPanel header="{{'packDetailsDeliveryAddress' | translate}}">
      <div style="padding-top: 10px;padding-bottom: 10px;">
        DER KURIER GmbH & Co. KG <br>
        Dörrwiese 2 <br>
        DE-36285 Neuenstein
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{'packDetailsPickupAddress' | translate}}">
      <div style="padding-top: 10px;padding-bottom: 10px;">
        DER KURIER GmbH & Co. KG <br>
        Dörrwiese 2 <br>
        DE-36285 Neuenstein
      </div>
    </p-tabPanel>
  </p-tabView>
</p-overlayPanel>

<p-dialog header="{{'weightCorrections' | translate}}" [(visible)]="displayWeightCorrections"
          [positionTop]="200"
          [modal]="true" width="700" [responsive]="true" [draggable]="false" [resizable]="false">
  <div class="ui-g">
    <div class="ui-g-2">
      {{'length' | translate}}:
    </div>
    <div class="ui-g-10">
      <input pInputText [pKeyFilter]="emptyOrPInt" placeholder="cm">
    </div>
    <div class="ui-g-2">
      {{'width' | translate}}:
    </div>
    <div class="ui-g-10">
      <input pInputText [pKeyFilter]="emptyOrPInt" placeholder="cm">
    </div>
    <div class="ui-g-2">
      {{'height' | translate}}:
    </div>
    <div class="ui-g-10">
      <input pInputText [pKeyFilter]="emptyOrPInt" placeholder="cm">
    </div>
    <div class="ui-g-2">
      {{'weight' | translate}}:
    </div>
    <div class="ui-g-10">
      <input pInputText [pKeyFilter]="emptyOrPInt" placeholder="kg">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton label="{{'cancel' | translate}}"></button>
    <button type="button" pButton label="{{'saveAndSendMail' | translate}}"></button>
  </p-footer>
</p-dialog>
