*.ids
*.iml
*.iws
*.ldb
.directory
.gradle
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/libraries
.idea/dataSources
.idea/inspectionProfile
.idea/httpRequests
build
buildSrc/build
buildSrc/src/import
dataSources.local.xml
hibernate.cfg.xml
leoz-boot/bin
leoz-boot/build
leoz-boot/platform/
leoz-boot/reports/dependencies/
leoz-bridge-com/Release*
leoz-central/bin/
leoz-central/build
leoz-central/generated
leoz-central/platform/
leoz-central/reports/dependencies
leoz-central/src/generated
leoz-common/.gradle
leoz-common/activemq-data
leoz-common/build
leoz-common/reports/dependencies
leoz-messaging/activemq-data
leoz-messaging/reports/dependencies
leoz-node/bin
leoz-node/build
leoz-node/platform/
leoz-node/reports/dependencies
leoz-node/src/generated
leoz-ui/bin
leoz-ui/build
leoz-ui/platform/
leoz-ui/reports/dependencies
leoz-webservice/.gradle
leoz-webservice/bin
leoz-webservice/build
leoz-webservice/src/main/java/org/leo2/jooq/dekuclient
leoz.mv.db
leoz.trace.db
leoz-mobile.db
libraries/leoz-common/build
libraries/leoz-common/reports/dependencies
libs/build
libs/leoz-common/build
libs/leoz-common/data
libs/leoz-common/reports/dependencies
modules.xml
openjpa-schema.xml
out
release
vm/.vagrant
vm/dist
vm/Vagrantfile.local
workspace.xml
local.properties
libs/sx-packager-gradle/.idea/libraries
runConfigurations.xml
leoz-core/platform
profiles_settings.xml
markdown-navigator.xml
leoz-mobile/leoz-mobile-app/src/generated
leoz-node-data/src/generated
leoz-common/src/generated
leoz-smartlane/src/generated
leoz-mobile/.idea/caches
.idea/shelf
leoz-mobile/.idea/shelf
Project.xml
codeStyleConfig.xml
