vm/.vagrant
leo2-common/.gradle
leo2-webservice/.gradle
leo2-webservice/build
leo2-common/build
*.iws
.gradle
build
leo2-webservice/src/main/java/org/leo2/jooq/dekuclient
/bin/
leo2-webservice/bin
out
leo2-messaging/activemq-data
leo2-bridge-com/packages/
leo2-bridge-com/Release*
leo2-central/generated
leo2-central/src/generated
leo2-central/reports/dependencies
leo2-common/reports/dependencies
leo2-messaging/reports/dependencies
leo2-node/reports/dependencies
leo2-ui/reports/dependencies
leo2-node/src/generated
.idea/libraries
