[submodule "vm/puppet/modules/java"]
	path = vm/puppet/modules/java
	url = https://github.com/Proteon/puppet-java.git
[submodule "libs/sx-jms"]
	path = libs/sx-jms
	url = ssh://git@git.derkurier.de:13020/leoz/sx-jms.git
[submodule "libs/sx-discovery"]
	path = libs/sx-discovery
	url = ssh://git@git.derkurier.de:13020/leoz/sx-discovery.git
[submodule "libs/sx-fx"]
	path = libs/sx-fx
	url = ssh://git@git.derkurier.de:13020/leoz/sx-fx.git
[submodule "libs/sx-rsync"]
	path = libs/sx-rsync
	url = ssh://git@git.derkurier.de:13020/leoz/sx-rsync.git
[submodule "libs/sx-serialization"]
	path = libs/sx-serialization
	url = ssh://git@git.derkurier.de:13020/leoz/sx-serialization.git
[submodule "libs/sx-ssh"]
	path = libs/sx-ssh
	url = ssh://git@git.derkurier.de:13020/leoz/sx-ssh.git
