*.ids
*.iml
*.iws
*.ldb
.gradle
.idea/libraries
dataSources.local.xml
dataSources.xml
leoz-boot/reports/dependencies/
leo2-bridge-com/Release*
leo2-bridge-com/packages/
leoz-central/bin/
leoz-central/generated
leoz-central/reports/dependencies
leoz-central/src/generated
leoz-common/.gradle
leoz-common/activemq-data
leoz-common/build
leoz-common/reports/dependencies
leoz-messaging/activemq-data
leoz-messaging/reports/dependencies
leoz-node/reports/dependencies
leoz-node/src/generated
leoz-ui/reports/dependencies
leoz-webservice/.gradle
leoz-webservice/bin
leoz-webservice/build
leoz-webservice/src/main/java/org/leo2/jooq/dekuclient
libraries/leoz-common/reports/dependencies
modules.xml
out
vm/.vagrant
workspace.xml
buildSrc/build
leoz-boot/build
leoz-central/build
leoz-node/build
leoz-ui/build
libraries/leoz-common/build
buildSrc/src/import
libs/leoz-common/build
libs/leoz-common/reports/dependencies
leoz-node/bin
leoz-bridge-com/Release*
leoz-boot/bin
leoz-ui/bin
