[submodule "vm/puppet/modules/mysql"]
	path = vm/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "vm/puppet/modules/stdlib"]
	path = vm/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vm/puppet/modules/apt"]
	path = vm/puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "vm/puppet/modules/timezone"]
	path = vm/puppet/modules/timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "vm/puppet/modules/java"]
	path = vm/puppet/modules/java
	url = https://github.com/Proteon/puppet-java.git
[submodule "vm/puppet/modules/puppi"]
	path = vm/puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "vm/puppet/modules/tomcat"]
	path = vm/puppet/modules/tomcat
	url = https://github.com/example42/puppet-tomcat.git
[submodule "sx-common"]
	path = libs/sx-common
url=ssh://git@git.derkurier.de:13020/leoz/sx-common.git
[submodule "leoz-bridge-com/Libraries/CLAP"]
	path = leoz-bridge-com/Libraries/CLAP
	url = https://github.com/masc3d/CLAP.git
[submodule "libs/barbarywatchservice"]
	path = libs/barbarywatchservice
url=git@github.com:masc3d/BarbaryWatchService.git
[submodule "libs/sx-jms"]
	path = libs/sx-jms
	url = ssh://git@git.derkurier.de:13020/leoz/sx-jms.git
