[submodule "vm/puppet/modules/java"]
	path = vm/puppet/modules/java
	url = https://github.com/Proteon/puppet-java.git
[submodule "vm/puppet/modules/tomcat"]
	path = vm/puppet/modules/tomcat
	url = https://github.com/example42/puppet-tomcat.git
[submodule "libs/sx-common"]
	path = libs/sx-common
url=ssh://git@git.derkurier.de:13020/leoz/sx-common.git
[submodule "leoz-bridge-com/Libraries/CLAP"]
	path = leoz-bridge-com/Libraries/CLAP
	url = https://github.com/masc3d/CLAP.git
[submodule "libs/sx-jms"]
	path = libs/sx-jms
	url = ssh://git@git.derkurier.de:13020/leoz/sx-jms.git
[submodule "leoz-central-schema"]
	path = leoz-central-schema
	url = ssh://git@git.derkurier.de:13020/leoz/leoz-central-schema.git
[submodule "libs/sx-discovery"]
	path = libs/sx-discovery
	url = ssh://git@git.derkurier.de:13020/leoz/sx-discovery.git
[submodule "libs/sx-fx"]
	path = libs/sx-fx
	url = ssh://git@git.derkurier.de:13020/leoz/sx-fx.git
[submodule "libs/sx-rsync"]
	path = libs/sx-rsync
	url = ssh://git@git.derkurier.de:13020/leoz/sx-rsync.git
[submodule "libs/sx-serialization"]
	path = libs/sx-serialization
	url = ssh://git@git.derkurier.de:13020/leoz/sx-serialization.git
[submodule "libs/sx-ssh"]
	path = libs/sx-ssh
	url = ssh://git@git.derkurier.de:13020/leoz/sx-ssh.git
[submodule "libs/sx-android"]
	path = libs/sx-android
	url = ssh://git@git.derkurier.de:13020/leoz/sx-android.git
