ext {
    instances += [
            localDev: [
                    url     : 'jdbc:mysql://10.0.10.10:3306?useSSL=false',
                    user    : 'root',
                    password: 'root',
                    target  : 11
            ]
    ]
}
