/** leo2 styles */
.root {
    /** CSS constants (unfortunately only works for colors as of jdk1.8.0_102)
    /** Color constant */
    -leoz-primary-color: #32629d;
    -leoz-secondary-color: #f8ae18;

    -fx-accent: -leoz-primary-color;
    -fx-focus-color: -leoz-primary-color;
}

.leoz-undecorated {
    -fx-border-color: lightgray;
    -fx-border-width: 1pt
}

.leoz-green-bar {
    -fx-accent: green;
}

.leoz-yellow-bar {
    -fx-accent: yellow;
}

.leoz-orange-bar {
    -fx-accent: orange;
}

.leoz-red-bar {
    -fx-accent: red;
}

/** sx.fx.MaterialProgressIndicator */
.circular-progress {
    -indicator-color: #bbbbbb;
}

.circular-progress .indicator {
    -fx-stroke-type: centered;
    -fx-fill: null;
    -fx-stroke: -indicator-color;
}
