.leoz-undecorated {
    -fx-border-color: lightgray;
    -fx-border-width: 1pt
}

.leoz-green-bar {
    -fx-accent: green;
}

.leoz-yellow-bar {
    -fx-accent: yellow;
}

.leoz-orange-bar {
    -fx-accent: orange;
}

.leoz-red-bar {
    -fx-accent: red;
}