<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <!-- Slack incoming webhook uri. Uncomment the lines below to use incoming webhook uri instead of API token. -->
        <webhookUri>https://hooks.slack.com/services/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</webhookUri>
        <!-- Channel that you want to post - default is #general -->
        <channel>#Logs</channel>
        <!-- Formatting (you can use Slack formatting - URL links, code formatting, etc.) -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
        <!-- Username of the messages sender -->
        <username>LogBack</username>
        <!-- Emoji to be used for messages -->
        <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
    </appender>

    <!-- Currently recommended way of using Slack appender -->
    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC_SLACK" />
    </root>

    <logger name="ROOT" level="INFO" />
</configuration>