<table class="table table-striped">
  <thead>
  <tr>
    <th>{{'firstname' | translate}}</th>
    <th>{{'surname' | translate}}</th>
    <th>{{'role' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <!--<tr *ngFor="let user of users | async">-->
  <tr *ngFor="let user of users | async | userfilter">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.role}}</td>
    <td (click)="selected(user)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></td>
    <td><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></td><!--<td>nur deaktivieren</td>-->
  </tr>
  </tbody>
</table>
