<form [formGroup]="adressForm">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12ui-g-nopad">
      <input pInputText formControlName="placeholderLine1" placeholder="{{ placeholderLine1 | translate }}">
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <input pInputText formControlName="placeholderLine2" placeholder="{{ placeholderLine2 | translate }}">
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <input pInputText formControlName="placeholderLine3" placeholder="{{ placeholderLine3 | translate }}">
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-10 ui-g-nopad">
      <input pInputText formControlName="street" placeholder="{{ 'street' | translate }}">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad">
      <input pInputText formControlName="No" placeholder="{{ 'No' | translate }}">
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-2 ui-g-nopad">
      <input pInputText formControlName="CC" placeholder="{{ 'CC' | translate }}">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad">
      <input pInputText formControlName="zip" placeholder="{{ 'zip' | translate }}">
    </div>
    <div class="ui-g-12 ui-lg-8 ui-g-nopad">
      <input pInputText formControlName="city" placeholder="{{ 'city' | translate }}">
    </div>
  </div>
</form>
