<div class="ui-fluid ui-g" style="padding-top: 10px;">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-3 ui-g-nopad" style="margin: 0 0 0 5px; border: 1px solid black">
      <p-dataTable resizableColumns="false" responsive="true"
                   [emptyMessage]="'noDataAvailable' | translate"
                   [style]="{'min-height': '600px'}">
        <p-header>
          {{ 'list_of_profiles' | translate }}
        </p-header>
        <p-column field="name" header="{{'name' | translate}}" [sortable]="true"></p-column>
        <p-column field="active" header="{{'active' | translate}}"></p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12 ui-lg-3 ui-g-nopad" style="margin: 0 0 0 5px; border: 1px solid black">
      <p-dataTable resizableColumns="false" responsive="true"
                   [emptyMessage]="'noDataAvailable' | translate"
                   [style]="{'min-height': '600px'}">
        <p-header>
          {{ 'list_of_active_controls' | translate }}
        </p-header>
        <p-column field="name" header="{{'name' | translate}}" [sortable]="true"></p-column>
        <p-column field="active" header="{{'active' | translate}}"></p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12 ui-lg-3 ui-g-nopad" style="margin: 0 0 0 5px; border: 1px solid black">
      <p-dataTable resizableColumns="false" responsive="true"
                   [emptyMessage]="'noDataAvailable' | translate"
                   [style]="{'min-height': '600px'}">
        <p-header>
          {{ 'list_of_deactivated_controls' | translate }}
        </p-header>
        <p-column field="name" header="{{'name' | translate}}" [sortable]="true"></p-column>
        <p-column field="active" header="{{'active' | translate}}"></p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="margin: 0 0 0 5px;">
      <button pButton type="button" label="{{'saveF2' | translate}}" ></button>
      <div class="ui-g-12 ui-g-nopad" style="padding-left: 4px; margin-top: 15px;">
        {{'profilename' | translate}}:
      </div>

      <div class="ui-g-12 ui-g-nopad bgYellow" style="border:1px solid darkgrey; padding-left: 4px; margin-top: 5px;">
        {{'myProfile' | translate}}:
      </div>



    </div>

  </div>
</div>

<!--
<div class="ui-fluid ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding: 0;">
-->
