<app-msg-box [msgs]="errMsgs | async"></app-msg-box>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <input type="hidden" class="form-control" formControlName="emailOrigin">
  <div class="ui-fluid">
    <div class="ui-g">

      <div class="ui-g-12 ui-md-6">
        <div>{{'firstname' | translate}}:</div>
        <div><input pInputText formControlName="firstName"></div>
        <div *ngIf="userForm.controls['firstName'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'FirstnameMaxLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>{{'surname' | translate}}:</div>
        <div><input pInputText formControlName="lastName"></div>
        <div *ngIf="userForm.controls['lastName'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'SurnameMaxLength' | translate}}.
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div>{{'password' | translate}}:</div>
        <div><input pInputText formControlName="password"></div>
        <div *ngIf="userForm.controls['password'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMaxLength' | translate}}.
        </div>
        <div *ngIf="userForm.controls['password'].hasError('minlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PwdMinLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>{{'email' | translate}}:</div>
        <div><input pInputText formControlName="email"></div>
          <div *ngIf="!userForm.controls['email'].untouched && userForm.controls['email'].hasError('email')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'EmailFormat' | translate}}.
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div>{{'phoneoffice' | translate}}:</div>
        <div><input pInputText formControlName="phone"></div>
        <div *ngIf="userForm.controls['phone'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PhoneMaxLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>{{'alias' | translate}}:</div>
        <div><input pInputText formControlName="alias"></div>
        <div *ngIf="userForm.controls['alias'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'AliasMaxLength' | translate}}.
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div>{{'phonemobile' | translate}}:</div>
        <div><input pInputText formControlName="phoneMobile"></div>
        <div *ngIf="userForm.controls['phoneMobile'].hasError('maxlength')" class="ui-g-12 ui-message ui-widget ui-corner-all ui-messages-error">
          {{'PhoneMaxLength' | translate}}.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6"></div>
    </div>

    <div class="ui-g" [@myself]="myself() ? 'inactive': 'active'">
      <div class="ui-g-12 ui-md-6">
        <div>{{'role' | translate}}:</div>
        <p-dropdown [options]="roleOptions" formControlName="role" placeholder="&nbsp;"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div>{{'active' | translate}}:</div>
        <p-dropdown [options]="stateOptions" formControlName="active" placeholder="&nbsp;"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div>{{'expires_on' | translate}}:</div>
        <p-calendar [showIcon]="true" [readonlyInput]="true" [dateFormat]="dateFormatPrimeng" [locale]="locale" formControlName="expiresOn"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-6" style="padding: 0;">
        <p-fieldset legend="{{'apprights' | translate}}">
          <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding-top: 10px">
            <div class="ui-g-12">
              <p-checkbox name="hub" value="hub" label="{{'tour' | translate}}"></p-checkbox>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding-top: 10px; visibility: hidden">
            <div class="ui-g-12">
              <p-checkbox name="route" value="route" label="{{'line' | translate}}"></p-checkbox>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding-top: 10px; visibility: hidden">
            <div class="ui-g-12">
              <p-checkbox name="station" value="station" label="{{'homebase' | translate}}"></p-checkbox>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
      <button pButton type="button" (click)="onSubmit()" [disabled]="!userForm.valid" label="{{'save' | translate}}" style="width:100px"></button>
      <button pButton type="button" (click)="clearFields()" label="{{'clear' | translate}}" style="width:100px"></button>
      </div>
    </div>

  </div>
</form>
