/** masc20171026. css overrides */
body {
    background: linear-gradient(#CECECE, white);
    background-repeat: no-repeat;
    background-size: 100% 450px
}

.swagger-ui .topbar {
    background-color: #2D5682
}

.info .main .title {
    padding-bottom: 0.5em;
    padding-left: 1.7em;
}

#swagger-ui {
    background-image: url('../images/logo-round.png');
    background-size: 3em;
    background-position: 1.2em 4.1em;
    background-repeat: no-repeat;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background: #aaaaaa;
}

.swagger-ui .topbar-wrapper {
    height: 0;
    visibility: hidden;
}