  <div class="ui-fluid" style="padding-top: 10px;" class="mbDashboardContent">
    <div class="ui-g">

      <div class="ui-g-12 ui-lg-2" style="padding:0; border: 1px solid transparent !important;">
        <p-fieldset [style]="{'height': 'auto'}" legend="{{'filter' | translate}}">
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'expected' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'throughHub' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'onTruck' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding: 10px 0 10px 0;">
            <p-radioButton name="filter" value="filter" label="{{'withImportscan' | translate}}"></p-radioButton>
          </div>
        </p-fieldset>
        <p-fieldset [style]="{'height': 'auto'}" legend="{{'dispo' | translate}}">
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'uptoDeliverydate' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'forDeliverydate' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'withStock' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding: 10px 0 10px 0; max-width: 110px">
              <p-calendar [showIcon]="true" [readonlyInput]="true" [dateFormat]="dateFormatPrimeng" [locale]="locale"
                          [(ngModel)]="deliveryDate" [selectOtherMonths]="true">
              </p-calendar>
            </div>
        </p-fieldset>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'select' | translate}}" style="width : 100%"></button>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'hidePU' | translate}}" style="width : 100%"></button>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-table [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'tour' | translate}}</th>
                    <th>{{'deadline' | translate}}</th>
                    <th>{{'count' | translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="3">
                      {{'noDataAvailable' | translate}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
          </div>
        <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-table [responsive]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>{{'tour' | translate}}</th>
                  <th>{{'weight' | translate}}</th>
                  <th>{{'packs' | translate}}</th>
                  <th>{{'shipment' | translate}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="4">
                    {{'noDataAvailable' | translate}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </div>

        <p-fieldset [style]="{'height': 'auto'}" legend="{{'tour' | translate}}">
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="tour" value="tour" label="{{'glsDelivery' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="tour" value="tour" label="{{'allTours' | translate}}"></p-radioButton>
          </div>

          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12" style="padding-left: 0;">
              <p-radioButton name="tour" value="tour" label="{{'justForTour' | translate}}"></p-radioButton>
              <input [(ngModel)]="tourNo" class="bgYellow" style="width: 50px;">
            </div>
          </div>
        </p-fieldset>

          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'help' | translate}}" style="width : 100%"></button>
          </div>
      </div>

      <div id="tabViewWrapper" class="ui-g-12 ui-lg-10" style="padding:0;">
          <p-tabView [style]="{'height': '100%'}">
            <p-tabPanel header="{{'predispo' | translate}}" [style]="{'height': '100%'}">
              <p-table [responsive]="true" [style]="{'height': '50%'}">
                <ng-template pTemplate="caption">
                  {{ 'tourdispo' | translate }}
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'tour' | translate}}</th>
                    <th>{{'zip' | translate}}</th>
                    <th>{{'city' | translate}}</th>
                    <th>{{'street' | translate}}</th>
                    <th>{{'date' | translate}}</th>
                    <th>{{'from' | translate}}</th>
                    <th>{{'to' | translate}}</th>
                    <th>{{'count' | translate}}</th>
                    <th>{{'weight' | translate}}</th>
                    <th>{{'volume' | translate}}</th>
                    <th></th>
                    <th>{{'shipmentNo' | translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="12">
                      {{'noDataAvailable' | translate}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [responsive]="true" [style]="{'height': '50%'}">
                <ng-template pTemplate="caption">
                  {{ 'tourinfo' | translate }}
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'tour' | translate}}</th>
                    <th>{{'zip' | translate}}</th>
                    <th>{{'city' | translate}}</th>
                    <th>{{'street' | translate}}</th>
                    <th>{{'date' | translate}}</th>
                    <th>{{'from' | translate}}</th>
                    <th>{{'to' | translate}}</th>
                    <th>{{'count' | translate}}</th>
                    <th>{{'weight' | translate}}</th>
                    <th>{{'rk' | translate}}</th>
                    <th></th>
                    <th>{{'shipmentNo' | translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="12">
                      {{'noDataAvailable' | translate}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>
            <p-tabPanel header="{{'detailedDispo' | translate}}">
              <p-table [responsive]="true" [style]="{'height': '50%'}">
                <ng-template pTemplate="caption">
                  {{ 'tour-deliverydispo' | translate }}
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'tour' | translate}}</th>
                    <th>{{'zip' | translate}}</th>
                    <th>{{'city' | translate}}</th>
                    <th>{{'street' | translate}}</th>
                    <th>{{'date' | translate}}</th>
                    <th>{{'from' | translate}}</th>
                    <th>{{'to' | translate}}</th>
                    <th>{{'count' | translate}}</th>
                    <th>{{'weight' | translate}}</th>
                    <th>{{'rk' | translate}}</th>
                    <th>{{'pos' | translate}}</th>
                    <th></th>
                    <th>{{'shipmentNo' | translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="13">
                      {{'noDataAvailable' | translate}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [responsive]="true" [style]="{'height': '50%'}">
                <ng-template pTemplate="caption">
                  {{ 'deliveryinfo' | translate }}
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'tour' | translate}}</th>
                    <th>{{'zip' | translate}}</th>
                    <th>{{'city' | translate}}</th>
                    <th>{{'street' | translate}}</th>
                    <th>{{'date' | translate}}</th>
                    <th>{{'from' | translate}}</th>
                    <th>{{'to' | translate}}</th>
                    <th>{{'count' | translate}}</th>
                    <th>{{'weight' | translate}}</th>
                    <th>{{'rk' | translate}}</th>
                    <th>{{'pos' | translate}}</th>
                    <th></th>
                    <th>{{'shipmentNo' | translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="13">
                      {{'noDataAvailable' | translate}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>
          </p-tabView>
      </div>
    </div>
  </div>
