  <div class="ui-fluid" style="padding-top: 10px;">
    <div class="ui-g">

      <div class="ui-g-12 ui-lg-2" style="padding:0; border: 1px solid transparent !important;">
        <p-fieldset [style]="{'height': 'auto'}" legend="{{'filter' | translate}}">
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'expected' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'throughHub' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="filter" value="filter" label="{{'onTruck' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding: 10px 0 10px 0;">
            <p-radioButton name="filter" value="filter" label="{{'withImportscan' | translate}}"></p-radioButton>
          </div>
        </p-fieldset>
        <p-fieldset [style]="{'height': 'auto'}" legend="{{'dispo' | translate}}">
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'uptoDeliverydate' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'forDeliverydate' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
              <p-radioButton name="dispo" value="dispo" label="{{'withStock' | translate}}"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="padding: 10px 0 10px 0;">
              <p-calendar [showIcon]="true" [readonlyInput]="true" [dateFormat]="dateFormatPrimeng" [locale]="locale"
                          [(ngModel)]="deliveryDate" [selectOtherMonths]="true">
              </p-calendar>
            </div>
        </p-fieldset>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'select' | translate}}"></button>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'hidePU' | translate}}"></button>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-tabView>
              <p-dataTable resizableColumns="false" responsive="true"
                           [emptyMessage]="'noDataAvailable' | translate">
                <p-column [style]="{'max-width': '50px'}" field="tour" header="{{'tour' | translate}}"></p-column>
                <p-column field="deadline" header="{{'deadline' | translate}}"></p-column>
                <p-column field="Count" header="{{'count' | translate}}"></p-column>
              </p-dataTable>
            </p-tabView>
          </div>
        <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
          <p-tabView>
            <p-dataTable resizableColumns="false" responsive="true"
                         [emptyMessage]="'noDataAvailable' | translate">
              <p-column [style]="{'max-width': '50px'}" field="tour" header="{{'tour' | translate}}"></p-column>
              <p-column field="weight" header="{{'weight' | translate}}"></p-column>
              <p-column field="packs" header="{{'packs' | translate}}"></p-column>
              <p-column field="shipments" header="{{'shipment' | translate}}"></p-column>
            </p-dataTable>
          </p-tabView>
        </div>

        <p-fieldset [style]="{'height': 'auto'}" legend="{{'tour' | translate}}">
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="tour" value="tour" label="{{'glsDelivery' | translate}}"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <p-radioButton name="tour" value="tour" label="{{'allTours' | translate}}"></p-radioButton>
          </div>

          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12" style="padding-left: 0;">
              <p-radioButton name="tour" value="tour" label="{{'justForTour' | translate}}"></p-radioButton>
              <input [(ngModel)]="tourNo" class="bgYellow" style="width: 50px;">
            </div>
          </div>
        </p-fieldset>

          <div class="ui-g-12 ui-g-nopad" style="padding-top: 10px">
            <button pButton type="button" label="{{'help' | translate}}"></button>
          </div>
      </div>

      <div id="tabViewWrapper" class="ui-g-12 ui-lg-10" style="padding:0;">
          <p-tabView [style]="{'height': '100%'}">
            <p-tabPanel header="{{'predispo' | translate}}" [style]="{'height': '100%'}">
              <p-dataTable resizableColumns="false" responsive="true"
                           [emptyMessage]="'noDataAvailable' | translate"
                           [style]="{'height': '50%'}">
                <p-header>
                  {{ 'tourdispo' | translate }}
                </p-header>
                <p-column field="tour" header="{{'tour' | translate}}" [sortable]="true"></p-column>
                <p-column field="zip" header="{{'zip' | translate}}" [sortable]="true"></p-column>
                <p-column field="city" header="{{'city' | translate}}" [sortable]="true"></p-column>
                <p-column field="street" header="{{'street' | translate}}" [sortable]="true"></p-column>
                <p-column field="date" header="{{'date' | translate}}" [sortable]="true"></p-column>
                <p-column field="from" header="{{'from' | translate}}" [sortable]="true"></p-column>
                <p-column field="to" header="{{'to' | translate}}" [sortable]="true"></p-column>
                <p-column field="count" header="{{'count' | translate}}" [sortable]="true"></p-column>
                <p-column field="weight" header="{{'weight' | translate}}" [sortable]="true"></p-column>
                <p-column field="volume" header="{{'vol.' | translate}}" [sortable]="true"></p-column>
                <p-column field="checkbox" [style]="{'width': '50px'}" ></p-column>
                <p-column field="shipmentNo" header="{{'shipmentNo' | translate}}" [sortable]="true"></p-column>
              </p-dataTable>
              <p-dataTable resizableColumns="false" responsive="true"
                           [emptyMessage]="'noDataAvailable' | translate"
                           [style]="{'height': '50%'}">
                <p-header>
                  {{ 'tourinfo' | translate }}
                </p-header>
                <p-column field="tour" header="{{'tour' | translate}}" [sortable]="true"></p-column>
                <p-column field="zip" header="{{'zip' | translate}}" [sortable]="true"></p-column>
                <p-column field="city" header="{{'city' | translate}}" [sortable]="true"></p-column>
                <p-column field="street" header="{{'street' | translate}}" [sortable]="true"></p-column>
                <p-column field="date" header="{{'date' | translate}}" [sortable]="true"></p-column>
                <p-column field="from" header="{{'from' | translate}}" [sortable]="true"></p-column>
                <p-column field="to" header="{{'to' | translate}}" [sortable]="true"></p-column>
                <p-column field="count" header="{{'count' | translate}}" [sortable]="true"></p-column>
                <p-column field="weight" header="{{'weight' | translate}}" [sortable]="true"></p-column>
                <p-column field="rk" header="{{'rk' | translate}}" [sortable]="true"></p-column>
                <p-column field="checkbox" [style]="{'width': '50px'}" ></p-column>
                <p-column field="shipmentNo" header="{{'shipmentNo' | translate}}" [sortable]="true"></p-column>
              </p-dataTable>
            </p-tabPanel>
            <p-tabPanel header="{{'detailedDispo' | translate}}">
              <p-dataTable resizableColumns="false" responsive="true"
                           [emptyMessage]="'noDataAvailable' | translate"
                           [style]="{'height': '50%'}">
                <p-header>
                  {{ 'tour-deliverydispo' | translate }}
                </p-header>
                <p-column field="tour" header="{{'tour' | translate}}" [sortable]="true"></p-column>
                <p-column field="zip" header="{{'zip' | translate}}" [sortable]="true"></p-column>
                <p-column field="city" header="{{'city' | translate}}" [sortable]="true"></p-column>
                <p-column field="street" header="{{'street' | translate}}" [sortable]="true"></p-column>
                <p-column field="date" header="{{'date' | translate}}" [sortable]="true"></p-column>
                <p-column field="from" header="{{'from' | translate}}" [sortable]="true"></p-column>
                <p-column field="to" header="{{'to' | translate}}" [sortable]="true"></p-column>
                <p-column field="count" header="{{'count' | translate}}" [sortable]="true"></p-column>
                <p-column field="weight" header="{{'weight' | translate}}" [sortable]="true"></p-column>
                <p-column field="rk" header="{{'rk' | translate}}" [sortable]="true"></p-column>
                <p-column field="pos" header="{{'pos' | translate}}" [sortable]="true"></p-column>
                <p-column field="checkbox" [style]="{'width': '50px'}" ></p-column>
                <p-column field="shipmentNo" header="{{'shipmentNo' | translate}}" [sortable]="true"></p-column>
              </p-dataTable>
              <p-dataTable resizableColumns="false" responsive="true"
                           [emptyMessage]="'noDataAvailable' | translate"
                           [style]="{'height': '300px'}">
                <p-header>
                  {{ 'deliveryinfo' | translate }}
                </p-header>
                <p-column field="tour" header="{{'tour' | translate}}" [sortable]="true"></p-column>
                <p-column field="zip" header="{{'zip' | translate}}" [sortable]="true"></p-column>
                <p-column field="city" header="{{'city' | translate}}" [sortable]="true"></p-column>
                <p-column field="street" header="{{'street' | translate}}" [sortable]="true"></p-column>
                <p-column field="date" header="{{'date' | translate}}" [sortable]="true"></p-column>
                <p-column field="from" header="{{'from' | translate}}" [sortable]="true"></p-column>
                <p-column field="to" header="{{'to' | translate}}" [sortable]="true"></p-column>
                <p-column field="count" header="{{'count' | translate}}" [sortable]="true"></p-column>
                <p-column field="weight" header="{{'weight' | translate}}" [sortable]="true"></p-column>
                <p-column field="rk" header="{{'rk' | translate}}" [sortable]="true"></p-column>
                <p-column field="pos" header="{{'pos' | translate}}" [sortable]="true"></p-column>
                <p-column field="checkbox" [style]="{'width': '50px'}" ></p-column>
                <p-column field="shipmentNo" header="{{'shipmentNo' | translate}}" [sortable]="true"></p-column>
              </p-dataTable>
            </p-tabPanel>
          </p-tabView>
      </div>
    </div>
  </div>
