<div class="ui-fluid ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding: 0;">
        {{'accountingClient' | translate}}:
    </div>
    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding: 0;">
      <input pInputText placeholder="{{'description' | translate}}" style="width: 100%;">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding: 0 0 0 10px;">
      <input pInputText style="width: 100%;">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding: 5px;">
      €
    </div>
  </div>
</div>
