<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">

    <display-name>leo2</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <!-- Spring configuration -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.deku.leo2.central</param-value>
    </context-param>

    <!-- Resteasy configuration -->
    <context-param>
        <param-name>resteasy.providers</param-name>
        <!-- TODO. figure out why ResteasyJackson2Provider gets loaded automatically when running from IDE,
        while it has to be listed here when running with jetty embedded in shadowJar -->
        <param-value>
            org.deku.leo2.node.rest.ObjectMapperProvider,
            org.deku.leo2.node.rest.ExceptionMapper,
            org.jboss.resteasy.plugins.providers.jackson.ResteasyJackson2Provider
        </param-value>
    </context-param>

    <!--. Listeners -->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
    </listener>
    <!-- Custom servlet context listener -->
    <listener>
        <listener-class>org.deku.leo2.central.web.ServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.deku.leo2.node.web.ServletContextListener</listener-class>
    </listener>

    <!-- Leo2 servlet -->
    <servlet>
        <description>leo2 webservice servlet</description>
        <servlet-name>leo2</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/rs/api</param-value>
        </init-param>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.deku.leo2.node.rest.WebserviceApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>leo2</servlet-name>
        <url-pattern>/rs/api/*</url-pattern>
    </servlet-mapping>
</web-app>