<div id="main-menu">
  <div class="main-menu-container">
    <div class="menu-content" style="color: #ffffff">
      <accordion>
        <accordion-group i18n-heading='Navigation label for home' heading='Home'
                         [isOpen]='false' [isDisabled]="true" (click)="navigate('home')">
        </accordion-group>
        <accordion-group heading='Dispo'
                         [isOpen]='false'>

          <a [routerLink]="['tour']" (click)="closeMenu()"><i class="fa fa-bus"></i> <ng-container i18n="Navigation label for tour">Tour</ng-container></a>
        </accordion-group>
        <accordion-group heading='Management'
                         [isOpen]='false'>
          <a [routerLink]="['user']" (click)="closeMenu()"><i class="fa fa-wheelchair-alt"></i> <span i18n="Navigation label for user">Users</span></a><br>
          <!--<hr style="background: #f8ae18; border: none; color: #f8ae18; height: 1px; width: 100%; margin-bottom: 0px;margin-top: 0px;">-->
        </accordion-group>
        <accordion-group heading='Logout'
                         [isOpen]='false' [isDisabled]="true" (click)="navigate('logout')">
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
