<div id="top-menu">
  <div>
    <img src="assets/images/logo.png" alt="">
  </div>
  <div style="margin-top: 10px; margin-left: 80px;">
    <span (click)="changeLang('de')"><img src="assets/images/de.png" width="33px" height="20px" alt="de"></span>
    <br>
    <span (click)="changeLang('en')"><img src="assets/images/gb.png" width="33px" height="19px" alt="gb"></span>
    <!--<br>-->
    <!--<strong style="color: #ffffff; font-size: 20px; margin-top: 15px">LeoZ</strong>-->
  </div>
  <div id="mobile-main-menu" (click)="toggle()">
    <i class="fa fa-bars" style="color: #ffffff; font-size: 32px;"></i>
  </div>
</div>
