<div class="ui-fluid ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding: 0;">
      <span *ngIf="isPickup; else importcosts">
        {{'exportcosts' | translate}}:
      </span>
      <ng-template #importcosts>
        {{'importcosts' | translate}}:
      </ng-template>
    </div>
    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding: 0;">
      <input pInputText placeholder="{{'description' | translate}}" style="width: 100%;">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding: 0 0 0 10px;">
      <input pInputText style="width: 100%;">
    </div>
    <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding: 5px;">
      €
    </div>
  </div>

  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-8 ui-g-nopad" style="margin-top: 10px; border: 1px solid darkgrey;
                                            min-height: 192px; padding: 10px 10px 10px 10px;">
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        Kofferversand
      </div>
      <div class="ui-g-12 ui-lg-2 ui-g-nopad">
        KS
      </div>
      <div class="ui-g-12 ui-lg-1 ui-g-nopad">
        <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
      </div>
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        Messeservice
      </div>
      <div class="ui-g-12 ui-lg-2 ui-g-nopad">
        ME
      </div>
      <div class="ui-g-12 ui-lg-1 ui-g-nopad">
        <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
      </div>
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        Selbstverzollung/Dokumente
      </div>
      <div class="ui-g-12 ui-lg-2 ui-g-nopad">
        VZ
      </div>
      <div class="ui-g-12 ui-lg-1 ui-g-nopad">
        <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
      </div>
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        Valoren
      </div>
      <div class="ui-g-12 ui-lg-2 ui-g-nopad">
        &nbsp;
      </div>
      <div class="ui-g-12 ui-lg-1 ui-g-nopad">
        <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
      </div>
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        Höherhaftung
      </div>
      <div class="ui-g-12 ui-lg-2 ui-g-nopad">
        &nbsp;
      </div>
      <div class="ui-g-12 ui-lg-1 ui-g-nopad">
        <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
      </div>

      <div *ngIf="!isPickup">
        <div class="ui-g-12 ui-lg-9 ui-g-nopad">
          Nachnahme
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          NN
        </div>
        <div class="ui-g-12 ui-lg-1 ui-g-nopad">
          <p-radioButton name="selectedRange" value="selectedRange"></p-radioButton>
        </div>
        <div class="ui-g-12 ui-lg-9 ui-g-nopad">
          X-Change
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad">
          XC
        </div>
        <div class="ui-g-12 ui-lg-1 ui-g-nopad">
          <p-radioButton name="selectedService" value="selectedService"></p-radioButton>
        </div>
      </div>

    </div>

    <div class="ui-g-12 ui-lg-4 ui-g-nopad" style="padding-top: 10px; padding-left: 10px">
      <div class="ui-g-12 ui-g-nopad" style="padding: 0;">
        <span *ngIf="isPickup; else content">
        {{'productvalue' | translate}}:
      </span>
        <ng-template #content>
          {{'content' | translate}}:
        </ng-template>
        <input pInputText>
      </div>
      <div class="ui-g-12 ui-g-nopad" style="padding: 0;">
        <span *ngIf="isPickup; else cod">
        {{'liabilityvalue' | translate}}:
      </span>
        <ng-template #cod>
          {{'cod' | translate}}:
        </ng-template>
        <input pInputText>
      </div>
      <div *ngIf="isPickup" class="ui-g-12 ui-g-nopad" style="padding: 0;">
        {{'insurance' | translate}}:
        <input pInputText>
      </div>
      <div *ngIf="isPickup" class="ui-g-12 ui-g-nopad" style="padding: 0;">
        {{'total' | translate}}:
        <input pInputText>
      </div>
    </div>

  </div>
</div>
