<div class="ui-fluid ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-11 ui-g-nopad" style="padding: 0;">
      <input pInputText placeholder="{{'orderingParty' | translate}}">
    </div>
    <div class="ui-g-12 ui-lg-1 ui-g-nopad" style="padding-top: 5px;">
      <i class="fas fa-info-circle iconBlue"></i>
    </div>
    <div class="ui-g-12 ui-lg-11 ui-g-nopad" style="padding: 0;">
      <input pInputText placeholder="{{'collector' | translate}}">
    </div>
    <div class="ui-g-12 ui-lg-1 ui-g-nopad" style="padding-top: 5px;">
      <i class="fas fa-info-circle iconBlue"></i>
    </div>
    <div class="ui-g-12 ui-lg-11 ui-g-nopad" style="padding: 0;">
      <input pInputText placeholder="{{'deliverystation' | translate}}">
    </div>
    <div class="ui-g-12 ui-lg-1 ui-g-nopad" style="padding-top: 5px;">
      <i class="fas fa-info-circle iconBlue"></i>
    </div>
  </div>

  <div class="ui-g-12 ui-g-nopad" style="margin-top: 10px;
                                    min-height: 300px; padding: 10px 0 10px 0; font-size: 13px;">
    <div>(!) Absendername nicht gesetzt</div>
    <div style="padding-top: 4px;">(!) Empfänger-Postleitzahl nicht gesetzt</div>
  </div>

  <div class="ui-g-12 ui-g-nopad" style="margin-top: 10px;
                                    min-height: 150px; padding: 10px 10px 10px 10px; font-size: 13px;">
  </div>

  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
      <button pButton type="button" label="{{'ad_hoc_CostsF5' | translate}}" style="width: 95%;"></button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
      <button pButton type="button" label="{{'verify' | translate}}" style="width: 95%;"></button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
      <button pButton type="button" label="{{'saveF2' | translate}}" style="width: 95%;"></button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
      <button pButton type="button" label="{{'newStrgN' | translate}}" style="width: 95%;"></button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
      <button pButton type="button" label="{{'delete' | translate}}" style="width: 95%;"></button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-g-nopad">
      &nbsp;
    </div>
  </div>

  <div class="ui-g-12 ui-g-nopad" style="padding: 0; margin-top: 20px">

      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
          <button pButton type="button" label="{{'label' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px; padding-left: 4px;">
          <p-checkbox name="printlabel" value="printlabel"></p-checkbox>
        </div>
      </div>

      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
          <button pButton type="button" label="{{'waybill' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px; padding-left: 4px;">
          <p-checkbox name="printwaybill" value="printwaybill"></p-checkbox>
        </div>
      </div>

      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px;">
          <button pButton type="button" label="{{'pickup' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-6 ui-g-nopad" style="margin-top: 4px; padding-left: 4px;">
          <p-checkbox name="printpickup" value="printpickup"></p-checkbox>
        </div>
      </div>

  </div>

</div>
