<form [formGroup]="importscancheckForm" style="padding-top: 10px;">
  <div class="ui-fluid">
    <div class="ui-g" style="margin-bottom: 30px;">
      <div class="ui-g-12 ui-lg-12 ui-g-nopad">
        <input #scanfield formControlName="scanfield" class="bgYellow" style="font-size: 20px; max-width: 150px">
      </div>
    </div>
    <p-dataScroller [value]="shipments" [rows]="10" [inline]="true" scrollHeight="calc(100vh - 296px)"
                    [style]="{'min-height': '465px', 'height': 'calc(100vh - 296px)'}">
      <p-header>
        {{ 'import_controllist' | translate }}
      </p-header>

      <ng-template let-shipments pTemplate="body">
        <div class="ui-g row-importscan">
            <div class="ui-g-12 ui-md-2">{{shipments.senderAddress.line1}}</div>
            <div class="ui-g-12 ui-md-1">===>></div>
            <div class="ui-g-12 ui-md-2">{{shipments.deliveryAddress.line1}}</div>
            <div class="ui-g-12 ui-md-1">{{'from' | translate}}: {{shipments.senderStation}}</div>
            <div class="ui-g-12 ui-md-1">{{'to' | translate}}: {{shipments.deliveryStation}}</div>
            <div class="ui-g-12 ui-md-2">{{shipments.deliveryAddress.zipCode}} {{shipments.deliveryAddress.city}}</div>
            <div class="ui-g-12 ui-md-2">{{shipments.parcels[0]?.parcelNo}}</div>
            <div class="ui-g-12 ui-md-1">
              <i class="fas fa-sync" style="color: #184b7d;"></i>
            </div>
        </div>
      </ng-template>
    </p-dataScroller>

    <div class="ui-g" style="padding-top: 50px;">
      <div class="ui-g-12 ui-lg-12">
        <hr/>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'newShipment' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'quickscan' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscanquick' ] )"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'allShipments' | translate}}"
                    (click)="router.navigate( [ 'dashboard/importscan/importscanlist' ] )"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'listprinting' | translate}}"></button>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-g-nopad" style="padding-left: 10px;">
            <button pButton type="button" label="{{'refresh' | translate}}"></button>
        </div>
      </div>
    </div>

  </div>
</form>
