<div class="ui-fluid ui-g">
  <div class="ui-g-12 ui-g-nopad" style="padding: 0;">
    <span *ngIf="isPickup; else infoDeliveryList">
        {{'pickupInfoDispo' | translate}}:
    </span>
    <ng-template #infoDeliveryList>
      {{'infoDeliverylist' | translate}}:
    </ng-template>
    <input pInputText>
  </div>
  <div class="ui-g-12 ui-g-nopad" style="padding: 0;">
    <span *ngIf="isPickup; else deliveryInfoDispo">
        {{'XChRetNo' | translate}}:
    </span>
    <ng-template #deliveryInfoDispo>
      {{'deliveryInfoDispo' | translate}}:
    </ng-template>
    <input pInputText>
  </div>
</div>
