<yaga-map [lat]="lat" [lng]="long" [zoom]="11">
  <yaga-zoom-control></yaga-zoom-control>
  <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
  <yaga-attribution-control></yaga-attribution-control>

  <yaga-tile-layer [url]="'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'" [attribution]="'© OpenStreetMap-Mitwirkende'"></yaga-tile-layer>
  <yaga-marker [lat]="lat" [lng]="long" [display]="displayMarker">
    <yaga-popup>
      <p>
        Latitude: {{lat}}<br/>
        Longitude: {{long}}
      </p>
    </yaga-popup>
  </yaga-marker>
</yaga-map>
